In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
ser1= Series(np.arange(3), index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int32

In [3]:
ser1.drop('b')

a    0
c    2
dtype: int32

In [4]:
dframe1= DataFrame(np.arange(9).reshape((3,3)),index=['SF','NYC','LA'],columns=['pop','size','year'])

In [5]:
dframe1

     pop  size  year
SF     0     1     2
NYC    3     4     5
LA     6     7     8

In [6]:
dframe1.drop('LA')

     pop  size  year
SF     0     1     2
NYC    3     4     5

In [7]:
dframe1

     pop  size  year
SF     0     1     2
NYC    3     4     5
LA     6     7     8

In [8]:
dframe2=dframe1.drop('NYC')
dframe2

    pop  size  year
SF    0     1     2
LA    6     7     8

In [9]:
dframe1

     pop  size  year
SF     0     1     2
NYC    3     4     5
LA     6     7     8

In [10]:
dframe1.drop('year',axis=1)

     pop  size
SF     0     1
NYC    3     4
LA     6     7

In [11]:
dframe1.drop('year')

KeyError: "['year'] not found in axis"