In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
ser = Series(randn(6), index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [3]:
ser

1  a   -1.099946
   b   -0.138148
   c   -0.772237
2  a   -0.275941
   b   -1.456906
   c    0.598509
dtype: float64

In [4]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [5]:
ser[1]

a   -1.099946
b   -0.138148
c   -0.772237
dtype: float64

In [7]:
ser[:,'a']

1   -1.099946
2   -0.275941
dtype: float64

In [9]:
dframe = ser.unstack()

In [10]:
dframe

          a         b         c
1 -1.099946 -0.138148 -0.772237
2 -0.275941 -1.456906  0.598509

In [11]:
dfarme2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [13]:
dfarme2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [14]:
dfarme2.index.names=['INDEX_1','INDEX_2']
dfarme2.columns.names=['Cities','Temaperature']

In [15]:
dfarme2

Cities            NY      LA   SF
Temaperature    cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [16]:
dfarme2.swaplevel('Cities','Temaperature',axis=1)

Temaperature    cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [19]:
dfarme2.sort_index(0)

Cities            NY      LA   SF
Temaperature    cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [20]:
dfarme2.sort_index(1)

Cities           LA   NY       SF
Temaperature    hot cold hot cold
INDEX_1 INDEX_2
a       1         2    0   1    3
        2         6    4   5    7
b       1        10    8   9   11
        2        14   12  13   15

In [22]:
dfarme2.sum(level='Temaperature',axis=1)

Temaperature     cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27