In [1]:
import numpy as np
from pandas import Series , DataFrame
import pandas as pd

from numpy.random import randn

C:\Users\hp\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\hp\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
ser1= Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [4]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
ser3 =  Series(['Nepal','Germany','Canada'], index=[2,5,3])
ser3

2      Nepal
5    Germany
3     Canada
dtype: object

In [6]:
ranger = range(15)
ranger

range(0, 15)

In [7]:
ranger

range(0, 15)

In [9]:
ser3.reindex(ranger,method='ffill')

ValueError: index must be monotonic increasing or decreasing

In [14]:
dframe= DataFrame(randn(25).reshape((5,5)), index=['A','B','C','D','F'], 
 columns=['col1','col2','col3','col4','col5'])

In [15]:
dframe

       col1      col2      col3      col4      col5
A -1.667513 -0.716948  1.572251 -0.695459 -0.175148
B  0.315383  0.632472  0.648684  1.418552 -0.885072
C  0.134826  0.762630  0.842031  0.199353 -1.480228
D -0.522659 -0.826564 -0.387582  0.081392 -0.693331
F -0.684479  1.549924  0.882245  0.884591 -1.025820

In [16]:
dframe = dframe.reindex(['A','B','C','D','E','F'])
dframe

       col1      col2      col3      col4      col5
A -1.667513 -0.716948  1.572251 -0.695459 -0.175148
B  0.315383  0.632472  0.648684  1.418552 -0.885072
C  0.134826  0.762630  0.842031  0.199353 -1.480228
D -0.522659 -0.826564 -0.387582  0.081392 -0.693331
E       NaN       NaN       NaN       NaN       NaN
F -0.684479  1.549924  0.882245  0.884591 -1.025820

In [17]:
new_columns=['col1','col2','col3','col4','col5','col6']

In [19]:
dframe.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.667513 -0.716948  1.572251 -0.695459 -0.175148   NaN
B  0.315383  0.632472  0.648684  1.418552 -0.885072   NaN
C  0.134826  0.762630  0.842031  0.199353 -1.480228   NaN
D -0.522659 -0.826564 -0.387582  0.081392 -0.693331   NaN
E       NaN       NaN       NaN       NaN       NaN   NaN
F -0.684479  1.549924  0.882245  0.884591 -1.025820   NaN

In [22]:
dframe.loc[['A','B','C','D','E','F'],new_columns]
dframe

       col1      col2      col3      col4      col5
A -1.667513 -0.716948  1.572251 -0.695459 -0.175148
B  0.315383  0.632472  0.648684  1.418552 -0.885072
C  0.134826  0.762630  0.842031  0.199353 -1.480228
D -0.522659 -0.826564 -0.387582  0.081392 -0.693331
E       NaN       NaN       NaN       NaN       NaN
F -0.684479  1.549924  0.882245  0.884591 -1.025820