In [1]:
import pandas as pd

In [3]:
from io import StringIO

In [4]:
data = """\
    Sample Animal Intelligence
    1 Dog Smart
    2 Dog Smart
    3 Cat Dumb
    4 Cat Dumb
    5 Dog Dumb
    6 Cat Smart"""

In [5]:
dframe = pd.read_table(StringIO(data),sep='\s+')

In [6]:
dframe

   Sample Animal Intelligence
0       1    Dog        Smart
1       2    Dog        Smart
2       3    Cat         Dumb
3       4    Cat         Dumb
4       5    Dog         Dumb
5       6    Cat        Smart

In [9]:
pd.crosstab(dframe.Animal, dframe.Intelligence, margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6

In [10]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\hp\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: numpy>=1.9.3 in c:\users\hp\anaconda3\lib\site-packages (from seaborn) (1.16.5)
Requirement already satisfied: scipy>=0.14.0 in c:\users\hp\anaconda3\lib\site-packages (from seaborn) (1.3.1)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\hp\anaconda3\lib\site-packages (from seaborn) (3.1.1)
Requirement already satisfied: pandas>=0.15.2 in c:\users\hp\anaconda3\lib\site-packages (from seaborn) (0.25.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.15.2->seaborn) (2019.3)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=1.4.3->seaborn) (1.12.0)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (41.4.0)
Note: you may need to restart the kernel to use updated packages.