In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
animal = DataFrame(np.arange(16).reshape(4,4), columns=['W','X','Y','Z'],index=['Dog','Cat','BIrd','Mouse'])

In [4]:
animal

        W   X   Y   Z
Dog     0   1   2   3
Cat     4   5   6   7
BIrd    8   9  10  11
Mouse  12  13  14  15

In [5]:
animal.ix[1:2,['W','Y']]= np.nan

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [6]:
animal

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
BIrd    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [7]:
behavior_map ={'W':'good','X':'Bad','Y':'good','Z':'Bad'}

In [8]:
animal_col = animal.groupby(behavior_map, axis=1)

In [9]:
animal_col.sum()

        Bad  good
Dog     4.0   2.0
Cat    12.0   0.0
BIrd   20.0  18.0
Mouse  28.0  26.0

In [10]:
behavior_series = Series(behavior_map)
behavior_series

W    good
X     Bad
Y    good
Z     Bad
dtype: object

In [11]:
animal.groupby(behavior_series,axis=1).count()

       Bad  good
Dog      2     2
Cat      2     0
BIrd     2     2
Mouse    2     2

In [12]:
animal.groupby(len).sum()

      W   X     Y   Z
3   0.0   6   2.0  10
4   8.0   9  10.0  11
5  12.0  13  14.0  15

In [13]:
keys= ['A','B','A','B']

In [14]:
animal.groupby([len,keys]).max()

        W   X     Y   Z
3 A   0.0   1   2.0   3
  B   NaN   5   NaN   7
4 A   8.0   9  10.0  11
5 B  12.0  13  14.0  15

In [15]:
animal

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
BIrd    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [16]:
hier_col = pd.MultiIndex.from_arrays([['NY','NY','NY','SF','SF'],[1,2,3,1,2]],names=['City','sub_value'])

In [17]:
dframe_hr = DataFrame(np.arange(25).reshape(5,5),columns=hier_col)

In [18]:
dframe_hr= dframe_hr * 1000

In [19]:
dframe_hr

City          NY                   SF
sub_value      1      2      3      1      2
0              0   1000   2000   3000   4000
1           5000   6000   7000   8000   9000
2          10000  11000  12000  13000  14000
3          15000  16000  17000  18000  19000
4          20000  21000  22000  23000  24000

In [20]:
hier_col

MultiIndex([('NY', 1),
            ('NY', 2),
            ('NY', 3),
            ('SF', 1),
            ('SF', 2)],
           names=['City', 'sub_value'])