In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
obj= Series([3,5,9])
obj

0    3
1    5
2    9
dtype: int64

In [4]:
obj.values

array([3, 5, 9], dtype=int64)

In [3]:
ww2_cas= Series ([1123,134534,967867,3434], index=['a','b','c','d'])
ww2_cas

a      1123
b    134534
c    967867
d      3434
dtype: int64

In [5]:
ww2_cas['c']

967867

In [6]:
ww2_cas[ww2_cas>2000]

b    134534
c    967867
d      3434
dtype: int64

In [7]:
'c' in ww2_cas

True

In [8]:
'g' in ww2_cas

False

In [9]:
ww2_dict= ww2_cas.to_dict()

In [10]:
ww2_dict

{'a': 1123, 'b': 134534, 'c': 967867, 'd': 3434}

In [11]:
ww2_series= Series(ww2_dict)

In [12]:
ww2_series

a      1123
b    134534
c    967867
d      3434
dtype: int64

In [13]:
countries =['China','Nepal','Germany','USA','a','b']

In [14]:
countries

['China', 'Nepal', 'Germany', 'USA', 'a', 'b']

In [15]:
obj2= Series(ww2_dict, index=countries)

In [16]:
obj2

China           NaN
Nepal           NaN
Germany         NaN
USA             NaN
a            1123.0
b          134534.0
dtype: float64

In [17]:
ww2_series + obj2

China           NaN
Germany         NaN
Nepal           NaN
USA             NaN
a            2246.0
b          269068.0
c               NaN
d               NaN
dtype: float64

In [18]:
obj2.name = "SOme test"
obj2

China           NaN
Nepal           NaN
Germany         NaN
USA             NaN
a            1123.0
b          134534.0
Name: SOme test, dtype: float64

In [19]:
obj2.index.name="Countries"
obj2

Countries
China           NaN
Nepal           NaN
Germany         NaN
USA             NaN
a            1123.0
b          134534.0
Name: SOme test, dtype: float64