In [2]:
import numpy as np
from pandas import Series, DataFrame

import pandas as pd

In [10]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [13]:
nfl_frame= pd.read_clipboard()

In [14]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West

In [15]:
DataFrame(nfl_frame, columns=['Rank','Team','Won','Division'])

   Rank                  Team  Won   Division
0     1        Dallas Cowboys  520   NFC East
1     2     Green Bay Packers  756  NFC North
2     3  New England Patriots  512   AFC East
3     4         Chicago Bears  769  NFC North
4     5      Baltimore Ravens  214  AFC North
5     6        Miami Dolphins  457   AFC East
6     7     Minnesota Vikings  488  NFC North
7     8   San Francisco 49ers  545   NFC West
8     9       New York Giants  696   NFC East
9    10        Denver Broncos  483   AFC West

In [16]:
nfl_frame.Division

0     NFC East
1    NFC North
2     AFC East
3    NFC North
4    AFC North
5     AFC East
6    NFC North
7     NFC West
8     NFC East
9     AFC West
Name: Division, dtype: object

In [18]:
nfl_frame.loc[2]

Rank                                   3
Team                New England Patriots
GP                                   916
Won                                  512
Lost                                 395
Tied                                   9
Pct.                               0.564
First NFL Season                    1960
Division                        AFC East
Name: 2, dtype: object

In [20]:
nfl_frame['Stadium']=np.arange(10)
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,0
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,2
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,3
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,4
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,5
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,6
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West,7
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,8
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West,9

In [21]:
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West

In [22]:
data={'City':['SF','LA','NYC'], 'Population':[83700,38000,67000]}

In [23]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [83700, 38000, 67000]}

In [24]:
city_frame=DataFrame(data)

In [25]:
city_frame

  City  Population
0   SF       83700
1   LA       38000
2  NYC       67000